#header {
    margin: 15px 30px;
    overflow: auto;
}

#emailButton {
    display: inline;
    float: right;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

#emailText {
    visibility: hidden;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}

#emailLink:link {
    color: black;
    text-decoration: none;
}

#emailLink:hover {
    color: black;
    text-decoration: none;
}

#logo {
    display: inline;
    float: left;
    width: 300px;
    height: 60px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

#logoImg {
    margin-top: 5px;
}