@import "reset.css";

@font-face {
  font-family: "BMHANNAProOTF";
  src: url(../font/BMHANNAProOTF.otf) format(opentype);
}

html,
body {
  height: 100vh;
  font-family: BMHANNAProOTF;
  background-image: url(../background/background1.jpeg);
  background-repeat: repeat;
  background-position: center;
  background-size: 100% 100%;
  background-position: fixed;
}

#last {
  padding-top: 27%;
  padding-bottom: 10%;
  text-align: center;
  font-size: 5rem;
}
footer {
  left: 0px;
  bottom: 0px;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 60px;
  background: grey;
}

.nav {
  position: relative;
  width: 100%;
  text-align: center;
  min-height: 15vh;
}
.wrapper {
  position: relative;
  display: inline-block;
  padding: 0 80px;
}
.box {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: gray;
}

.arrowIcon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#textarea {
  width: 100%;
  border-radius: 6px;
  font-family: BMHANNAProOTF;
  font-size: 12pt;
}
input[type="submit"] {
  display: block;
  border-radius: 5px;
  color: #fff;
  font-family: BMHANNAProOTF;
  font-size: 14pt;
}
#contents-box {
  position: relative;
  min-height: calc(100vh - 60px);
}

.content {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 650px;
  padding: 20px;
  padding-bottom: 60px;
  font-size: 1.5rem;
}
