* {
    font-family: 'Kirang Haerang', cursive;
}

body {
    background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
    align-content: center;
    margin: 1%;
}

header {
    text-align: center;
    margin: 50px;
    font-size: large;
}

nav {
    display: table;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

nav span {
    text-align: center;
    font-size: large;
}

#bonobono {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

#youtube-container {
    width: 827px;
    background-size: cover;
    background-position: center;
    height: 500px;
    background-image: url("images/video.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#youtube {
    position: absolute;
    align-content: center;
    z-index: 1;
    display: block;
    width: 100%;
}

.bubble-container {
    width: 40%;
    margin: 10px auto;
    position: relative;
}

.bubble {
    width: 100%;
    vertical-align: middle;
}

.content-heading {
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.html-content-img {
    width: 500px;
    display: block;
    margin: 10;
}

.subheading {
    font-size: large;
    font-weight: 700;
    background-color: yellow;
    margin: 1%;
    padding: 1%;
}

.comment {
    display: table;
    margin-left: auto;
    margin-right: auto;
    border: black 1px solid;
    padding: 3%;
}

footer {
    text-align: center;
    color: white;
    margin: 20px;
}

h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-family: 'Titan One', cursive;
    font-size: 70px;
    color: #FFF;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, .4);
}

h1 span:nth-child(2) {
    animation-delay: .1s;
}

h1 span:nth-child(3) {
    animation-delay: .2s;
}

h1 span:nth-child(4) {
    animation-delay: .3s;
}

h1 span:nth-child(5) {
    animation-delay: .4s;
}

h1 span:nth-child(6) {
    animation-delay: .5s;
}

h1 span:nth-child(7) {
    animation-delay: .6s;
}

h1 span:nth-child(8) {
    animation-delay: .7s;
}

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 #CCC, 0 7px 0 #CCC, 0 8px 0 #CCC, 0 9px 0 #CCC, 0 50px 25px rgba(0, 0, 0, .2);
    }
}