html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.divider-thick {
    width: 100%;
    border: 2px solid black;
    background-color: black;
}

.divider {
    width: 100%;
    height: 1px;
    color: black;
}

.history-text {
    width: 1800px;
    margin : 100px 50px;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.history-image {
    margin: 20px;
}

.go_top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: 30px;
    height: 30px;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}