html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.introducing-image {
    margin-top: -76px;
    display: block;
}

.introducing-text {
    display: none;
    width: 1800px;
    margin : 100px 50px;
}

.divider-thick {
    width: 100%;
    border: 2px solid black;
    background-color: black;
}

.divider {
    width: 100%;
    height: 1px;
    color: black;
}

.explain-image {
    margin: 20px;
}

.history-text {
    width: 1800px;
    margin : 100px 50px;
}

.history-image {
    margin: 20px;
}