header {
    background-color: black;
    height: 60px;
}

nav {
    display: inline-block;
    clear: left;
    width: 15%;
}

section {
    display: inline-block;
    clear: right;
    width: 80%;
    background-color: #f0f0f0;
}

.navImg {
    width: 23px;
    height: 23px;
    padding: 10px;
    padding-left: 15px;
}

.navText {
    font-size: 14px;
    padding-left: 10px;
}

#sectionTitle {
    font-size: 22px;
    text-align: left;
    vertical-align: top;
    margin: 20px;
}